.app {
	display:flex;
	flex-direction:column;
	min-height:100vh;

	&-nav {
		display:flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		&__start,
		&__end {
			flex:1 1 30%;
			display:flex;
			flex-direction: row;
		}

		&__end {
			justify-content: flex-end;
		}

		&__menu {
			$dimensions:28px;
			$bar-height:3px;
			cursor: pointer;
			display: block;
			height: $dimensions;
			position: relative;
			width: $dimensions;

			span {
				background-color: currentColor;
				display: block;
				height: 3px;
				left: 0;
				position: absolute;
				transform-origin:left center;
				transition-duration: $speed;
				transition-property: background-color, opacity, transform;
				transition-timing-function: $easing;
				width: $dimensions;

				&:nth-child(1) {
					top: 0;
				}

				&:nth-child(2) {
					top: calc(50% - #{$bar-height});
				}

				&:nth-child(3) {
					bottom:calc(0% + #{$bar-height});
				}
			}
			&:hover {
				background-color: rgba(black, 0.05)
			}
			// Modifers
			&.is-active {
				$offset:2px;

				span {
					&:nth-child(1) {
						transform: translateY($offset * .5) rotate(45deg)
					}

					&:nth-child(2) {
						opacity: 0;
					}

					&:nth-child(3) {
						transform: translateY($offset * -.5) rotate(-45deg)
					}
				}
			}
		}

		&__app-name {
			font-family: $family-serif;
			color:$red;
			font-size:$size-4;
			font-weight:$weight-bold;
			line-height:1em;

			a {
				@include link-inherit-color;
			}
		}

		&__made {
		}
	}

	&__body {
		flex:1 1 auto;
		display:flex;
		flex-direction:column;

		> * {
			flex:1 1 auto;
		}
	}

	&__drawer {
		@include drawer;
	}

	&__footer {
		margin-bottom: $section-padding-vertical;
	}

	@include until($desktop) {
		&-nav {
			&__support,
			&__user-dropdown,
			&__faq, {
				display:none;
			}
		}

		&__footer {
			display: none;
		}
	}

	@include from($desktop) {
		&-nav {
			&__item-menu,
			&__home {
				display:none;
			}
		}
	}
}
