.profiles {
	display:flex;
	flex-direction: column;
	align-items: stretch;

	&__body {
		flex:1 1 auto;
		margin-top:$gap;
		display:flex;
		flex-direction: row;
		align-items: stretch;
	}

	&__extras {
		flex:1 1 auto;
		margin-left:$gap;
	}

	&__main {
		width:400px;
		display:flex;
		flex-direction: column;
		align-items: stretch;

		> *:not(:last-child) {
			margin-bottom:$gap;
		}
	}

	&__mobile-ui {
		position:sticky;
		top:0;
		z-index: $navbar-fixed-z;
		//margin-bottom:$gap;
	}

	&__worker-card {
		flex:1 1 auto;
	}

	&__filters {
		height:100%;
	}

	@include until($desktop) {
		&__main,
		&__extras {
			width:100%;
		}

		.mega-shuffle,
		&__extras {
			display:none;
		}
	}

	@include from($desktop) {
		&__body {
			margin-top:$section-padding-vertical;
		}

		&__main {
			max-width:400px;
		}

		.mobile-card-controls {
			display:none;
		}
	}
}
