.page {
  &__header {
    text-align:center;

    /*.title {
      span {
        white-space: nowrap;
        //background-color:$yellow;
        background-image: linear-gradient(left, $yellow);
      }
    }*/
  }
}
