// Bulma/Buefy variables which need to be defaulted go here. These variables should not be reliant on values in Bulma/Buefy as they will be included before those values exist. New variables used in bulma-overrides should go in here as well, but variables that have nothing to do with Bulma/Buefy belong in variables.scss.
$family-primary: $courier-new;

$navbar-padding-vertical: 1rem;
$navbar-padding-horizontal: 2rem;

$control-border-width: 1px;
$button-border-width: $control-border-width;
$button-padding-vertical: calc(0.375em - #{$button-border-width});
$button-padding-horizontal: 0.75em;

$navbar-height:3.5rem;

$card-shadow: none;

$body-font-size:14px;

$size-1: 3rem;
$size-2: 2.5rem;
$size-3: 1.875rem;
$size-4: 1.5rem;
$size-5: 1.15rem;
$size-6: 1rem;
$size-7: 0.75rem;

$section-padding-vertical:3rem;
$section-padding-horizontal:1.5rem;
$section-padding:$section-padding-vertical $section-padding-horizontal;


$button-family:$family-sans-serif;

$radius:0;
